library/NemLoginSigningXades/Xsd/nemlogin-signed-document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://dk.gov.certifikat/nemlogin/v0.0.1#" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://dk.gov.certifikat/nemlogin/v0.0.1#" elementFormDefault="qualified">
    <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>

    <!-- Start SignedDocument -->
    <xsd:element name="SignedDocument" type="SignedDocumentType"/>
    <xsd:complexType name="SignedDocumentType">
        <xsd:sequence minOccurs="1">
            <xsd:element name="SignText" type="SignTextType"/>
            <xsd:element ref="ds:Signature"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="SignText" type="SignTextType"/>
    <xsd:complexType name="SignTextType">
        <xsd:sequence>
            <xsd:choice maxOccurs="1">
                <xsd:element name="PlainText" type="PlainTextType"/>
                <xsd:element name="HTMLDocument" type="HTMLDocumentType"/>
                <xsd:element name="PDFDocument" type="PDFDocumentType"/>
                <xsd:element name="XMLDocument" type="XMLDocumentType"/>
            </xsd:choice>
            <xsd:element name="Properties" type="PropertiesType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="PlainTextType">
        <xsd:sequence minOccurs="1">
            <xsd:element name="Document" type="xsd:base64Binary"/>
            <xsd:element name="Rendering" type="RenderingType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HTMLDocumentType">
        <xsd:sequence minOccurs="1">
            <xsd:element name="Document" type="xsd:base64Binary"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PDFDocumentType">
        <xsd:sequence minOccurs="1">
            <xsd:element name="Document" type="xsd:base64Binary"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="XMLDocumentType">
        <xsd:sequence minOccurs="1">
            <xsd:element name="Document" type="xsd:base64Binary"/>
            <xsd:element name="Transformation" type="xsd:base64Binary"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RenderingType">
        <xsd:sequence minOccurs="1">
            <xsd:element name="UseMonoSpaceFont" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PropertiesType">
        <xsd:sequence>
                <xsd:element name="Property" type="PropertyType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PropertyType">
        <xsd:sequence>
            <xsd:element name="Key" type="xsd:string"/>
            <xsd:choice>
                <xsd:element name="StringValue" type="xsd:string"/>
                <xsd:element name="BinaryValue" type="xsd:base64Binary"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
